#addempform{
    align-items: center;
    justify-items: center;
    display: contents;
}

root {
      margin: 16px;
      width: 100%;
      padding: 16px;
      flex-grow: 1;
  }
.item{
    display: inline-flex;
    align-items: center;
}
.date-padding{
    padding-top: 0;
}
#saveButton  span{
    color: white;
}

#cancelButton span{
    color: white;
}