#tablePending table{
  
    box-shadow: 3px 3px 6px black;
    border-radius: 5px;
    display: block;
    width:78vw;
    
    height: 32vh;
    overflow-y: scroll;
    margin-left: 1rem;
    margin-top: .5rem;
}

td , th{
    box-sizing: border-box;
    width:10vw;
    height: 7vh;
    padding:1rem;
    margin:0;
    text-align: center;
    font-size:0.9rem;
}
#pendingHeading{
    margin-left: 1rem;
    border:2px solid black;
    width: fit-content;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    margin-top: 1.5rem;
    font-size: 14px;
}
/* h3{
    margin-left: 1rem;
    border:1px solid black;
    width: fit-content;
} */

#thr{
    background: #d4d3d3;
}

#pen_img{
    width:2vw;
    cursor: pointer;
}