div#nav{
    width:100vw;
    height:10vh;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px black;
    display:grid;
    grid-template-columns: 20vw 70vw 10vw;
}

div#log , div#ham , div#notep{
    box-sizing: border-box;
    padding:10px;
}

div#ham{
    padding:15px;
    font-weight: bold;
}
div#notep{
    padding-top:1.2rem;
    text-align: left;
    color:#05b7e8;
    font-weight: bold;
    
}

#user_img{
    width:1.7vw;
}

#note_img{
    width:2.5vw;
}

#logout_img{
    width:2vw;
}
#sep{
    font-size: 5vh;
    font-weight: lighter;
    color:rgb(109, 108, 108);
}