#table table{
    /* border:1px solid black; */
    box-shadow: 3px 3px 8px black;
    border-radius: 5px;
    display: block;
    width:60vw;
    /* margin-left:7vw; */
    height: 40vh;
    overflow-y: scroll;
}

td , th{
    box-sizing: border-box;
    width:12vw;
    height: 7vh;
    padding:1rem;
    margin:0;
    text-align: center;
    
}

#thr{
    background: #d4d3d3;
}

#pen_img{
    width:2vw;
    cursor: pointer;
}