#leavelist table{
    box-shadow:2px 2px 6px black;
    border-radius:5px;
    
}

#leavelist td ,#leavelist th{
    width:8vw;
    height: 7vh;
    padding:1rem;
    
}

#leavelist td{
    text-align: center;
}

#leavelist td.available{
    color:#05b7e8;
    font-weight: bolder;
}

