.applyLeave {
  box-sizing: border-box;

  /* margin-top: 100px; */
  /* margin-left:1vw; */
  height: 89vh;
  padding: 1rem;
  background: #ffffff;
  /* box-shadow: 2px 2px 2px 2px; */
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 20px;
  padding-left: 20px;
}
.applyLeave form div {
  box-sizing: border-box;
  /* border:1px solid black; */
  padding: 0.7rem;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

label,
input,
select,
span {
  display: inline-block;
}
label {
  font-weight: bold;
}
/* span {
  /* border:1px solid red; 
}*/
.reason,
.uploadDoc,
.TypeOfLeave,
#noDays {
  display: grid;
  grid-template-columns: 30fr 70fr;
}

#dateP {
  display: grid;
  grid-template-columns: 18fr 10fr 10fr 10fr 10fr;
}

#dateP select{
  margin:10px;
}

.reason input,
.TypeOfLeave select,
#noDays input {
  box-sizing: border-box;
  padding: 0.3rem;
  width: 40vw;
  height: 6vh;
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 4px black;
  font-size: 1.2rem;
}

span#warning {
  font-size: 0.9rem;
  color: red;
}
.apply button {
  box-sizing: border-box;
  padding: 0.7rem;
  width: 20vw;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 4px black;
  background: #05b7e8;
  margin-left: 25vw;
  color: white;
  transition: box-shadow 500ms;
  cursor: pointer;
}

.apply button:hover {
  box-shadow: 4px 4px 8px black;
}

#sl {
  padding: 0.7rem;
  font-size: 0.8rem;
  font-weight: bold;
}

#addButton{
  padding:0.6rem;
  border:1px solid black;
  width:7vw;
  height:6vh;
}
/* .uploadDocButton::-webkit-file-upload-button {
  visibility: hidden;
}

.uploadDocButton{
  content: 'input file';
  display: inline-block;
  background: #05b7e8;
  box-sizing:border-box;
  /* width:10vw; 
  border: 1px solid #999;
  border-radius: 3px;
  /* padding:1; 
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
} */
